*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_left img{
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}
.header{
  width: 100%;
  position: sticky;
  display: flex;
  top: 0;
  z-index: 999;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding: 10px;
  background-color: white;
}
.header_left{
  display: flex;
  
}
.header_right{
  display: flex;
}
.header_search{
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 22px;
  color: gray;
  background-color: #eef3f8;
}
.header_search input{
  border: none;
  outline: none;
  background: none;
}
.vl{
  border-left: 1px solid lightgray;
  height: 40px;
  /* margin: 0 10px; */
}
.headerOption{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: gray;
  cursor: pointer;
}
.headerOption:hover{
  color: black;
}
.apps:hover{
  color: black;
}
.headerOption h3{
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.headerOption__icon{
  margin-right: 5px;
  height: 20px;
  width: 20px;
}
.apps{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  color: gray;
  cursor: pointer;
}
.headerText h3{
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  padding: 2px;
  color: rgb(187, 138, 4);
  
}
